@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fef9f8;
}

.hamburger-icon {
  color: #ef9273;
  font-size: 30px;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
}

.closed {
  display: none !important;
}

/* ! Header */
.main-header {
  border-top: 10px solid #ef9273;
  border-bottom: 5px solid #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main-header {
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.main-header__logo-wrapper {
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 510px);
}
.main-header__logo-wrapper a {
  text-decoration: none;
  color: black;
}
.main-header__logo-wrapper a img {
  width: 60px;
  height: 60px;
}
@media only screen and (max-width: 768px) {
  .main-header__logo-wrapper {
    margin: 0 auto;
    width: auto;
  }
}
.main-header__main-nav {
  display: inline-block;
  vertical-align: middle;
}
.main-header__main-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex !important;
  flex-flow: wrap;
  align-items: stretch;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .main-header__main-nav-list {
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.main-header__main-nav-list-item {
  display: inline-block;
}
.main-header__main-nav-list-item a {
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  transition: 0.2s ease-in-out;
}
.main-header__main-nav-list-item a:hover, .main-header__main-nav-list-item a:active {
  color: #fef9f8;
  background: #ef9273;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
}

.main-footer {
  border-top: 3px solid white;
  height: 150px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.main-footer__nav {
  width: 20%;
}
.main-footer__nav-list {
  display: flex !important;
  flex-flow: wrap;
  align-items: stretch;
  justify-content: space-around;
  padding: 0;
  margin: 15px 0;
  list-style-type: none;
}
.main-footer__nav-list li a {
  color: black;
  font-size: 18px;
  font-family: "Source Code Pro", monospace;
  text-decoration: none;
}
.main-footer__nav-list li a:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px #ddd7d6;
  font-size: 18.5px;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .main-footer__nav-list {
    justify-content: space-evenly;
  }
}
.main-footer__nav-social-icons {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  display: flex !important;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* Twitter */
  /* Linkedin */
}
.main-footer__nav-social-icons .fa {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
}
.main-footer__nav-social-icons .fa:hover {
  opacity: 0.7;
}
.main-footer__nav-social-icons .fa-facebook {
  background: #3B5998;
  color: white;
}
.main-footer__nav-social-icons .fa-twitter {
  background: #55ACEE;
  color: white;
}
.main-footer__nav-social-icons .fa-linkedin {
  background: #0A66C2;
  color: white;
}
@media only screen and (max-width: 768px) {
  .main-footer__nav {
    width: 80%;
  }
}

.courses-wrapper {
  background: url("../images/courses-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  opacity: 0.8;
  display: flex !important;
  flex-flow: column;
}
.courses-wrapper__course {
  border: 5px solid #ef9273;
  width: 50%;
  background-color: #fef9f9;
  padding: 25px;
  margin-bottom: 50px;
  opacity: 85%;
  min-width: 300px;
  min-height: 250px;
  position: relative;
  z-index: 1;
}
.courses-wrapper__course h3 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Courier Prime", monospace;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ec7f5a;
  padding: 5px;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .courses-wrapper__course h3 {
    position: static;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1400px) {
  .courses-wrapper__course h3 {
    position: static;
    text-align: center;
  }
}
.courses-wrapper__course h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.courses-wrapper__course:hover {
  cursor: pointer;
  border-color: #e9683d;
  transition: 0.2s ease-in-out;
}
.courses-wrapper__course ul, .courses-wrapper__course p {
  font-size: 15px;
  font-family: "Courier Prime", monospace;
}
@media only screen and (max-width: 600px) {
  .courses-wrapper__course ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .courses-wrapper__course ul li {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
@media only screen and (max-width: 600px) {
  .courses-wrapper__course {
    text-align: center;
  }
}
.courses-wrapper .advanced-course {
  order: 1;
}
.courses-wrapper .intermediate-course {
  order: 2;
  align-self: flex-end;
  transform: translateX(1) scale(1, 1);
  transition: 1s ease;
}
.courses-wrapper .intermediate-course:hover {
  transform: translateX(-50%) scale(1.2, 1.2);
}
@media only screen and (max-width: 600px) {
  .courses-wrapper .intermediate-course {
    align-self: center;
  }
}
.courses-wrapper .basic-course {
  order: 3;
}
.courses-wrapper .advanced-course,
.courses-wrapper .basic-course {
  transform: translateX(1) scale(1, 1);
  transition: 1s ease;
}
.courses-wrapper .advanced-course:hover,
.courses-wrapper .basic-course:hover {
  transform: translateX(50%) scale(1.2, 1.2);
}
@media only screen and (max-width: 600px) {
  .courses-wrapper {
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=courses.css.map */