@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro&display=swap');

/*
font-family: 'Courier Prime', monospace;
font-family: 'Source Code Pro', monospace;
*/

* {
    /* box-sizing: border-box; */
}

body {
    margin: 0;
    background-color: #fef9f8;
}

.main-header {
   border-top: 10px solid #ef9273;
   border-bottom: 5px solid #fff;
   padding: 20px;
   display: flex;
   /* flex-direction: row;
   flex-wrap: wrap; */
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}

.main-header__logo-wrapper {
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle; /* ! Vertikalno poravnanje svih item-a u okviru elementa */
    width: calc(100% - 510px); /* ! Kalkulacija sirine (oduzimanje 510 px od maximalne raspolozive sirine) */
}

.main-header__logo-wrapper a {
    text-decoration: none;
    color: black;
}

.main-header__main-nav {
    display: inline-block;
    vertical-align: middle; /* ! Vertikalno poravnanje svih item-a u okviru elementa */
}

.main-header__main-nav-list {
    list-style-type: none; /* ! Otklanja bullet-e sa komplet liste (tacke, brojeve, itd.) */
    padding: 0;
    margin: 0;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
}

.main-header__main-nav-list-item {
    display: inline-block;
}

.main-header__main-nav-list-item a {
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 5px 20px;
}

.main-header__main-nav-list-item a:hover,
.main-header__main-nav-list-item a:active {
    color: #fef9f8;
    background: #ef9273;
    border-radius: 40px;
}

/* ! MAIN SECTION */

.hero-wrapper {
    font-family: 'Courier Prime', monospace;
    height: 50vh;
    padding: 20px;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-wrapper p {
    width: 50%;
    font-style: italic;
}

.plans-wrapper {
    width: 90%;
    margin: 50px auto; /* za centriranje content-a */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Courier Prime', monospace;
}

.plans-wrapper__title {
    flex-basis: 100%;
    text-align: center;
    font-size: 42px;
}

.plans-wrapper__article {
    border: 3px solid black;
    padding: 50px 35px;
    border-radius: 25px;
    margin-bottom: 20px;
    min-width: 350px;
    background: #e9baab;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 20%;
    text-align: center;
    max-height: 650px;
}

.advanced {
    order: 1;
    min-height: 600px;
    background: #eb9a7f;
}

.intermediate {
    order: 2;
}

.plans-wrapper__article h1:nth-child(1) {
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}

.plans-wrapper__article h1:nth-child(2) {
    font-weight: bold;
    font-size: 27px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.plans-wrapper__article h3 {
    font-size: 23px;
}

.plans-wrapper__article ul {
    font-family: 'Source Code Pro', monospace;
    font-size: 19px;
    font-weight: bold;
    list-style-type: none;
    text-align: left;
}

.choose-plan__button-wrapper {
    margin-top: 20px;
}

.choose-plan__button-wrapper button {
    font-family: 'Courier Prime', monospace;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 19px;
    background-color: #fef9f8;
}

.choose-plan__button-wrapper button:hover {
    background-color: #ddd7d6;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}